.header{
    text-align: center;
    font-size: 18px;
    background: #999;
    top: 0px;
    height: 1em;
    padding: 0.5em;
}

.footer{
    text-align: center;
    font-size: 18px;
    background: #999;
    top: 0px;
    height: 1em;
    padding: 0.5em;
}
